
*.fit
old/browse_results.fits
old/MWSC_filter.ipynb
dataM103/Dark_currents.ipynb
processed_images_wo_drk_sky_align.pickle
processed_images_wo_drk_sky_align.pickle
processed_images_wo_drk_sky_align.pickle
processed_images_wo_drk_sky_align.pickle
processed_images_wo_drk_sky_align.pickle
processed_images_wo_drk_sky_align.pickle
stackedalignedHa.fits
